<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vquestion-heading" jhiTranslate="springgoodApp.vquestion.home.createOrEditLabel">Create or edit a Vquestion</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springgoodApp.vquestion.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('creationDate')!.invalid && (editForm.get('creationDate')!.dirty || editForm.get('creationDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creationDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('creationDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springgoodApp.vquestion.vquestion" for="field_vquestion">Vquestion</label>
                    <input type="text" class="form-control" name="vquestion" id="field_vquestion"
                           formControlName="vquestion"/>
                    <div *ngIf="editForm.get('vquestion')!.invalid && (editForm.get('vquestion')!.dirty || editForm.get('vquestion')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vquestion')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vquestion')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vquestion')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springgoodApp.vquestion.vquestionDescription" for="field_vquestionDescription">Vquestion Description</label>
                    <input type="text" class="form-control" name="vquestionDescription" id="field_vquestionDescription"
                           formControlName="vquestionDescription"/>
                    <div *ngIf="editForm.get('vquestionDescription')!.invalid && (editForm.get('vquestionDescription')!.dirty || editForm.get('vquestionDescription')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vquestionDescription')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vquestionDescription')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="springgoodApp.vquestion.vtopic" for="field_vtopic">Vtopic</label>
                    <select class="form-control" id="field_vtopic" name="vtopic" formControlName="vtopic">
                        <option *ngIf="!editForm.get('vtopic')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="vtopicOption.id === editForm.get('vtopic')!.value?.id ? editForm.get('vtopic')!.value : vtopicOption" *ngFor="let vtopicOption of vtopics; trackBy: trackById">{{ vtopicOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('vtopic')!.invalid && (editForm.get('vtopic')!.dirty || editForm.get('vtopic')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('vtopic')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
